<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246093790567-pjfu99drpjn55jmit11adb6h3g28sbbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246093790567-pjfu99drpjn55jmit11adb6h3g28sbbk</string>
	<key>API_KEY</key>
	<string>AIzaSyBNivoGLOl_x-mHfWlNDaVsEYyUZV6qMeg</string>
	<key>GCM_SENDER_ID</key>
	<string>246093790567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.auth21</string>
	<key>PROJECT_ID</key>
	<string>auth-21-63dbb</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-21-63dbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246093790567:ios:2c1664356eade02db303c2</string>
</dict>
</plist>